html{
	font-size: 10px;
}

body{
  font-family: "Libre Franklin", georgia;
  font-weight: 100;
  background: #212F3D;
  font-size: 1.6rem;
  font-weight: 600;
  margin: 40px;
}
header{
	color: #EAECEE;
	text-align: center;
}
h1{
	font-size: 4rem;
}
ul {
  max-width: 550px;
  margin: 0 auto 50px auto;
  text-align: left;
  line-height: 1.6;
}
img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
}

h3{
	text-align: center;
}

#img-caption {
  margin-top: 10px;
  text-align: center;
}


h2{
	font-size: 3.25rem;
}
.container{
	background-color: #D5D8DC;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 20px;
}